In [1]:
import json
import re 
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd 
from collections import Counter, defaultdict
from scipy import stats

from calibration_metric.vis.calibration_plot import plot_df
from calibration_metric.metric import ECEMetric

plt.rcParams["font.family"] = "Nimbus Roman"

from calibration_utils import (read_nucleus_file, 
                                read_gold_file,get_probs_and_accs, 
                                read_benchclamp_file, 
                                get_probs_and_accs_benchclamp,
                                get_probs_and_accs_sql,
                                get_accs_sql)

/brtx/601-nvme1/estengel/miniconda3/envs/bclamp2/lib/python3.7/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:


bart_data = read_benchclamp_file("/brtx/602-nvme1/estengel/calflow_calibration/benchclamp/logs/1.0/bart-large_spider_past_none_db_val_all_0.0001_5000_test_eval_unconstrained-beam_bs_5/model_outputs.20230208T031316.jsonl")
# bart_min_probs, bart_mean_probs, bart_accs = get_probs_and_accs_benchclamp(bart_data) 
spider_gold_path = "/brtx/601-nvme1/estengel/resources/data/benchclamp/processed/Spider/test_all.jsonl"
bart_min_probs, bart_mean_probs, bart_exact_accs = get_probs_and_accs_benchclamp(bart_data) # , spider_gold_path) 
input_test_data = read_benchclamp_file("/brtx/601-nvme1/estengel/resources/data/benchclamp/processed/Spider/test_all.jsonl")


t5_data = read_benchclamp_file("/brtx/602-nvme1/estengel/calflow_calibration/benchclamp/logs/1.0/t5-base-lm-adapt_spider_past_none_db_val_all_0.0001_10000_test_eval_unconstrained-beam_bs_5/model_outputs.20230206T093954.jsonl") 
# t5_min_probs, t5_mean_probs, t5_accs = get_probs_and_accs_benchclamp(t5_data)
t5_min_probs, t5_mean_probs, t5_exact_accs = get_probs_and_accs_benchclamp(t5_data) #, spider_gold_path)

In [8]:
import numpy as np
np.random.seed(12)
ece_metric = ECEMetric(n_bins=20, binning_strategy="adaptive")

(min_values_em, 
min_bins, 
min_bin_number) = ece_metric.adaptive_bin(bart_min_probs, bart_exact_accs)

data_by_bin = defaultdict(list)
for i, datum in enumerate(bart_data):
    input_datum = input_test_data[i]
    bin_number = min_bin_number[i]
    bin_confidence = min_bins[bin_number]
    bin_acc = min_values_em[bin_number]

    data_by_bin[bin_number].append((bin_confidence, bin_acc, datum, input_datum))


for bin_num in data_by_bin.keys():
    bin_conf = data_by_bin[bin_num][0][0]
    print(bin_num, bin_conf)
    bin_conf_str = f"{bin_conf:.2f}"
    bin_str = f"{bin_num}_{bin_conf_str}"
    # write the inputs to a file for later analysis 
    with open(f"spider_test_by_bart_bin/{bin_str}.jsonl","w") as f1:
        for (_, _, datum, input_datum) in data_by_bin[bin_num]:
            f1.write(json.dumps(input_datum) + "\n")


# sample
sample_n = 10
for bin_num, cands in data_by_bin.items():
    cand_idxs = [i for i in range(len(cands))]
    sample_idxs = np.random.choice(cand_idxs, size=sample_n, replace=False)
    examples = [cands[i] for i in sample_idxs]
    print(f"Bin number: {bin_num}")
    for (conf, acc, datum, __) in examples:
        full_input = datum['test_datum_natural']
        print(f"\tConfidence: {conf}, Acc: {acc}")
        print(f"\tInput: {full_input}")
        print(f"\tPred Output: {datum['outputs'][0]}")
        print(f"\tGold Output: {datum['test_datum_canonical']}")
        print(f"\tCorrect: {datum['metrics']['exact_match/top1']}")
        print()

0 0.7829297644731674
1 0.7445562160616894
2 0.695669958393968
3 0.6188248897252094
4 0.5245958175969945
5 0.43645621017136105
6 0.2872891378969516
Bin number: 0
	Confidence: 0.7829297644731674, Acc: 0.37037037037037035
	Input:  ,  | pets_1 | student : stuid , lname , fname , age , sex , major , advisor , city_code | has_pet : stuid , petid | pets : petid , pettype ( cat ) , pet_age , weight , What major is every student who does not own a cat as a pet, and also how old are they?
	Pred Output: SELECT major , age FROM student EXCEPT SELECT T1 . major , T1 . age FROM student AS T1 JOIN has_pet AS T2 ON T1 . stuid = T2 . stuid JOIN pets AS T3 ON T2 . petid = T3 . petid WHERE T3 . pettype = "cat"
	Gold Output: SELECT major , age FROM student WHERE stuid NOT IN ( SELECT T1 . stuid FROM student AS T1 JOIN has_pet AS T2 ON T1 . stuid = T2 . stuid JOIN pets AS T3 ON T3 . petid = T2 . petid WHERE T3 . pettype = 'cat' )
	Correct: incorrect

	Confidence: 0.7829297644731674, Acc: 0.37037037037037035
	Input:  ,  | concert_singer | stadium : stadium_id , location , name , capacity , highest , lowest , average | singer : singer_id , name , country , song_name , song_release_year , age , is_male | concert : concert_id , concert_name , theme , stadium_id , year | singer_in_concert : concert_id , singer_id , How many singers are from each country?
	Pred Output: SELECT country , count ( * ) FROM singer GROUP BY country
	Gold Output: SELECT country , count ( * ) FROM singer GROUP BY country
	Correct: correct

	Confidence: 0.7829297644731674, Acc: 0.37037037037037035
	Input:  ,  | car_1 | continents : contid , continent | countries : countryid , countryname , continent | car_makers : id , maker ( ford ) , fullname ( Ford Motor Company ) , country | model_list : modelid , maker , model ( ford ) | car_names : makeid , model ( ford ) , make | cars_data : id , mpg , cylinders , edispl , horsepower , weight , accelerate , year , Which models are lighter than 3500 but not built by the 'Ford Motor Company'?
	Pred Output: SELECT T1 . weight FROM car_data AS T1 JOIN model_list AS T2 ON T1 . id = T2 . modelid JOIN car_makers AS T3 ON T2 . manufacturer = T3 . id WHERE T1 . weight > 3500 EXCEPT SELECT T1 . weight FROM car_data AS T1 JOIN model_list AS T2 ON T1 . id = T2 . modelid JOIN car_makers AS T3 ON T2 . manufacturer = T3 . id WHERE T3 . fullname = 'Ford Motor Company'
	Gold Output: SELECT DISTINCT T1 . model FROM model_list AS T1 JOIN car_names AS T2 ON T1 . model = T2 . model JOIN cars_data AS T3 ON T2 . makeid = T3 . id JOIN car_makers AS T4 ON T1 . maker = T4 . id WHERE T3 . weight < 3500 AND T4 . fullname != 'Ford Motor Company' ;
	Correct: incorrect

	Confidence: 0.7829297644731674, Acc: 0.37037037037037035
	Input:  ,  | pets_1 | student : stuid , lname , fname , age , sex , major , advisor , city_code | has_pet : stuid , petid | pets : petid , pettype , pet_age , weight , Find the average age of students who do not have any pet .
	Pred Output: SELECT avg ( age ) FROM student WHERE stuid NOT IN ( SELECT stuid FROM has_pet )
	Gold Output: SELECT avg ( age ) FROM student WHERE stuid NOT IN ( SELECT stuid FROM has_pet )
	Correct: correct

	Confidence: 0.7829297644731674, Acc: 0.37037037037037035
	Input:  ,  | car_1 | continents : contid , continent | countries : countryid , countryname , continent | car_makers : id , maker , fullname , country | model_list : modelid , maker , model | car_names : makeid , model , make | cars_data : id , mpg , cylinders , edispl , horsepower , weight , accelerate , year , What is the number of cars with more than 4 cylinders?
	Pred Output: SELECT count ( * ) FROM cars_data WHERE volumes > 4
	Gold Output: SELECT count ( * ) FROM cars_data WHERE cylinders > 4 ;
	Correct: incorrect

	Confidence: 0.7829297644731674, Acc: 0.37037037037037035
	Input:  ,  | car_1 | continents : contid , continent | countries : countryid , countryname , continent | car_makers : id , maker , fullname , country | model_list : modelid , maker , model | car_names : makeid , model , make | cars_data : id , mpg , cylinders , edispl , horsepower , weight , accelerate , year , How many models does each car maker produce? List maker full name, id and the number.
	Pred Output: SELECT T1 . fullname , T1 . driver , count ( * ) FROM car_makers AS T1 JOIN model_list AS T2 ON T1 . id = T2 . manufacturer GROUP BY T1 . id
	Gold Output: SELECT T1 . fullname , T1 . id , count ( * ) FROM car_makers AS T1 JOIN model_list AS T2 ON T1 . id = T2 . maker GROUP BY T1 . id ;
	Correct: incorrect

	Confidence: 0.7829297644731674, Acc: 0.37037037037037035
	Input:  ,  | concert_singer | stadium : stadium_id , location , name , capacity , highest , lowest , average | singer : singer_id , name , country , song_name , song_release_year , age , is_male | concert : concert_id , concert_name , theme , stadium_id , year | singer_in_concert : concert_id , singer_id , How many concerts occurred in 2014 or 2015?
	Pred Output: SELECT count ( * ) FROM concert WHERE year = 2014 OR year = 2015
	Gold Output: SELECT count ( * ) FROM concert WHERE year = 2014 OR year = 2015
	Correct: correct

	Confidence: 0.7829297644731674, Acc: 0.37037037037037035
	Input:  ,  | pets_1 | student : stuid , lname , fname , age , sex , major , advisor , city_code | has_pet : stuid , petid | pets : petid , pettype ( cat , dog ) , pet_age , weight , What is the first name of every student who has a dog but does not have a cat?
	Pred Output: SELECT T1 . fname FROM student AS T1 JOIN has_pet AS T2 ON T1 . stuid = T2 . stuid JOIN pets AS T3 ON T2 . petid = T3 . petid WHERE T3 . pettype = "dog" EXCEPT SELECT T1 . fname FROM student AS T1 JOIN has_pet AS T2 ON T1 . stuid = T2 . stuid JOIN pets AS T3 ON T2 . petid = T3 . petid WHERE T3 . pettype = "cat"
	Gold Output: SELECT T1 . fname , T1 . age FROM student AS T1 JOIN has_pet AS T2 ON T1 . stuid = T2 . stuid JOIN pets AS T3 ON T3 . petid = T2 . petid WHERE T3 . pettype = 'dog' AND T1 . stuid NOT IN ( SELECT T1 . stuid FROM student AS T1 JOIN has_pet AS T2 ON T1 . stuid = T2 . stuid JOIN pets AS T3 ON T3 . petid = T2 . petid WHERE T3 . pettype = 'cat' )
	Correct: incorrect

	Confidence: 0.7829297644731674, Acc: 0.37037037037037035
	Input:  ,  | concert_singer | stadium : stadium_id , location , name , capacity , highest , lowest , average | singer : singer_id , name , country , song_name , song_release_year , age , is_male | concert : concert_id , concert_name , theme , stadium_id , year | singer_in_concert : concert_id , singer_id , For each stadium, how many concerts play there?
	Pred Output: SELECT T2 . name , count ( * ) FROM performance AS T1 JOIN stadium AS T2 ON T1 . stadium_id = T2 . stadium_id GROUP BY T1 . stadium_id
	Gold Output: SELECT T2 . name , count ( * ) FROM concert AS T1 JOIN stadium AS T2 ON T1 . stadium_id = T2 . stadium_id GROUP BY T1 . stadium_id
	Correct: incorrect

	Confidence: 0.7829297644731674, Acc: 0.37037037037037035
	Input:  ,  | pets_1 | student : stuid , lname , fname , age , sex , major , advisor , city_code | has_pet : stuid , petid | pets : petid , pettype ( cat ) , pet_age , weight , Find the major and age of students who do not have a cat pet.
	Pred Output: SELECT major , age FROM student EXCEPT SELECT T1 . major , T1 . age FROM student AS T1 JOIN has_pet AS T2 ON T1 . stuid = T2 . stuid JOIN pets AS T3 ON T2 . petid = T3 . petid WHERE T3 . pettype = "cat"
	Gold Output: SELECT major , age FROM student WHERE stuid NOT IN ( SELECT T1 . stuid FROM student AS T1 JOIN has_pet AS T2 ON T1 . stuid = T2 . stuid JOIN pets AS T3 ON T3 . petid = T2 . petid WHERE T3 . pettype = 'cat' )
	Correct: incorrect

Bin number: 1
	Confidence: 0.7445562160616894, Acc: 0.5335365853658537
	Input:  ,  | wta_1 | players : player_id , first_name , last_name , hand , birth_date , country_code | matches : best_of , draw_size , loser_age , loser_entry , loser_hand , loser_ht , loser_id , loser_ioc , loser_name , loser_rank , loser_rank_points , loser_seed , match_num , minutes , round , score , surface , tourney_date , tourney_id , tourney_level , tourney_name , winner_age , winner_entry , winner_hand , winner_ht , winner_id , winner_ioc , winner_name , winner_rank , winner_rank_points , winner_seed , year | rankings : ranking_date , ranking , player_id , ranking_points , tours , What are the first names of all players, and their total ranking points?
	Pred Output: SELECT T2 . first_name , sum ( T1 . ranking_points ) FROM rankings AS T1 JOIN players AS T2 ON T1 . player_id = T2 . player_id GROUP BY T2 . first_name
	Gold Output: SELECT sum ( ranking_points ) , T1 . first_name FROM players AS T1 JOIN rankings AS T2 ON T1 . player_id = T2 . player_id GROUP BY T1 . first_name
	Correct: incorrect

	Confidence: 0.7445562160616894, Acc: 0.5335365853658537
	Input:  ,  | flight_2 | airlines : uid , airline , abbreviation , country | airports : city ( Aberdeen  , Abilene  ) , airportcode , airportname , country , countryabbrev | flights : airline , flightno , sourceairport , destairport , How many flights land in Aberdeen or Abilene?
	Pred Output: SELECT count ( * ) FROM airports AS T1 JOIN flights AS T2 ON T1 . airportcode = T2 . destinationairport WHERE T1 . city = "Bars" OR T1 . city = "Abilene"
	Gold Output: SELECT count ( * ) FROM flights AS T1 JOIN airports AS T2 ON T1 . destairport = T2 . airportcode WHERE T2 . city = "Aberdeen" OR T2 . city = "Abilene"
	Correct: incorrect

	Confidence: 0.7445562160616894, Acc: 0.5335365853658537
	Input:  ,  | flight_2 | airlines : uid , airline , abbreviation , country | airports : city , airportcode ( APG ) , airportname , country , countryabbrev | flights : airline , flightno , sourceairport (  APG ) , destairport (  APG ) , How many flights depart from 'APG'?
	Pred Output: SELECT count ( * ) FROM flights WHERE sourceairport = 'APG'
	Gold Output: SELECT count ( * ) FROM flights WHERE sourceairport = "APG"
	Correct: incorrect

	Confidence: 0.7445562160616894, Acc: 0.5335365853658537
	Input:  ,  | employee_hire_evaluation | employee : employee_id , name , age , city | shop : shop_id , name , location , district , number_products , manager_name | hiring : shop_id , employee_id , start_from , is_full_time | evaluation : employee_id , year_awarded , bonus , Which district has both stores with less than 3000 products and stores with more than 10000 products?
	Pred Output: SELECT district FROM shop WHERE number_products < 3000 INTERSECT SELECT district FROM shop WHERE number_products > 10000
	Gold Output: SELECT district FROM shop WHERE number_products < 3000 INTERSECT SELECT district FROM shop WHERE number_products > 10000
	Correct: correct

	Confidence: 0.7445562160616894, Acc: 0.5335365853658537
	Input:  ,  | cre_Doc_Template_Mgt | ref_template_types : template_type_code ( PPT ) , template_type_description | templates : template_id , version_number , template_type_code ( PPT ) , date_effective_from , date_effective_to , template_details | documents : document_id , template_id , document_name , document_description , other_details | paragraphs : paragraph_id , document_id , paragraph_text , other_details , Count the number of documents that use the PPT template type.
	Pred Output: SELECT count ( * ) FROM documents AS T1 JOIN templates AS T2 ON T1 . template_id = T2 . template_id WHERE T2 . template_type_code = "PPT"
	Gold Output: SELECT count ( * ) FROM documents AS T1 JOIN templates AS T2 ON T1 . template_id = T2 . template_id WHERE T2 . template_type_code = 'PPT'
	Correct: incorrect

	Confidence: 0.7445562160616894, Acc: 0.5335365853658537
	Input:  ,  | employee_hire_evaluation | employee : employee_id , name , age , city | shop : shop_id , name , location , district , number_products , manager_name | hiring : shop_id , employee_id , start_from , is_full_time | evaluation : employee_id , year_awarded , bonus , Find the total amount of bonus given in all the evaluations.
	Pred Output: SELECT sum ( bonus ) FROM evaluation
	Gold Output: SELECT sum ( bonus ) FROM evaluation
	Correct: correct

	Confidence: 0.7445562160616894, Acc: 0.5335365853658537
	Input:  ,  | course_teach | course : course_id , staring_date , course | teacher : teacher_id , name , age , hometown | course_arrange : course_id , teacher_id , grade , What are the towns from which at least two teachers come from?
	Pred Output: SELECT hometown FROM teacher GROUP BY hometown HAVING count ( * ) >= 2
	Gold Output: SELECT hometown FROM teacher GROUP BY hometown HAVING count ( * ) >= 2
	Correct: correct

	Confidence: 0.7445562160616894, Acc: 0.5335365853658537
	Input:  ,  | cre_Doc_Template_Mgt | ref_template_types : template_type_code , template_type_description | templates : template_id , version_number , template_type_code , date_effective_from , date_effective_to , template_details | documents : document_id , template_id , document_name , document_description , other_details | paragraphs : paragraph_id , document_id , paragraph_text , other_details , Return the lowest version number, along with its corresponding template type code.
	Pred Output: SELECT min ( T1 . version_number ) , T1 . template_type_code FROM templates AS T1 JOIN templates AS T2 ON T1 . template_id = T2 . template_id GROUP BY T1 . template_type_code
	Gold Output: SELECT min ( version_number ) , template_type_code FROM templates
	Correct: incorrect

	Confidence: 0.7445562160616894, Acc: 0.5335365853658537
	Input:  ,  | course_teach | course : course_id , staring_date , course | teacher : teacher_id , name , age , hometown | course_arrange : course_id , teacher_id , grade , What are the names of the teachers who are aged either 32 or 33?
	Pred Output: SELECT name FROM teacher WHERE age = 32 OR age = 33
	Gold Output: SELECT name FROM teacher WHERE age = 32 OR age = 33
	Correct: correct

	Confidence: 0.7445562160616894, Acc: 0.5335365853658537
	Input:  ,  | cre_Doc_Template_Mgt | ref_template_types : template_type_code , template_type_description | templates : template_id , version_number , template_type_code , date_effective_from , date_effective_to , template_details | documents : document_id , template_id , document_name , document_description , other_details | paragraphs : paragraph_id , document_id , paragraph_text , other_details , How many different templates do all document use?
	Pred Output: SELECT count ( DISTINCT template_id ) FROM documents
	Gold Output: SELECT count ( DISTINCT template_id ) FROM documents
	Correct: correct

Bin number: 2
	Confidence: 0.695669958393968, Acc: 0.4451219512195122
	Input:  ,  | tvshow | tv_channel : id , series_name ( Sky Radio ) , country , language , content , pixel_aspect_ratio_par , hight_definition_tv , pay_per_view_ppv , package_option | tv_series : id , episode , air_date , rating , share , 18_49_rating_share , viewers_m , weekly_rank , channel | cartoon : id , title , directed_by , written_by , original_air_date , production_code , channel , List the Episode of all  TV series showed on TV Channel with series name "Sky Radio".
	Pred Output: SELECT T2 . episode FROM tv_channel AS T1 JOIN tv_series AS T2 ON T1 . id = T2 . channel WHERE T1 . series_name = "Sky Radio" ;
	Gold Output: SELECT T2 . episode FROM tv_channel AS T1 JOIN tv_series AS T2 ON T1 . id = T2 . channel WHERE T1 . series_name = "Sky Radio" ;
	Correct: correct

	Confidence: 0.695669958393968, Acc: 0.4451219512195122
	Input:  ,  | student_transcripts_tracking | addresses : address_id , line_1 , line_2 , line_3 , city , zip_postcode , state_province_county , country , other_address_details | courses : course_id , course_name , course_description , other_details | departments : department_id , department_name , department_description , other_details | degree_programs : degree_program_id , department_id , degree_summary_name , degree_summary_description , other_details | sections : section_id , course_id , section_name , section_description , other_details | semesters : semester_id , semester_name , semester_description , other_details | students : student_id , current_address_id , permanent_address_id , first_name , middle_name , last_name , cell_mobile_number , email_address , ssn , date_first_registered , date_left , other_student_details | student_enrolment : student_enrolment_id , degree_program_id , semester_id , student_id , other_details | student_enrolment_courses : student_course_id , course_id , student_enrolment_id | transcripts : transcript_id , transcript_date , other_details | transcript_contents : student_course_id , transcript_id , Describe the section h.
	Pred Output: SELECT section_description FROM sections
	Gold Output: SELECT section_description FROM sections WHERE section_name = 'h'
	Correct: incorrect

	Confidence: 0.695669958393968, Acc: 0.4451219512195122
	Input:  ,  | tvshow | tv_channel : id , series_name , country , language , content , pixel_aspect_ratio_par , hight_definition_tv , pay_per_view_ppv , package_option | tv_series : id , episode , air_date , rating , share , 18_49_rating_share , viewers_m , weekly_rank , channel | cartoon : id , title , directed_by , written_by , original_air_date , production_code , channel , List the number of different series names and contents in the TV Channel table.
	Pred Output: SELECT count ( DISTINCT series_name ) , content FROM tv_channel
	Gold Output: SELECT count ( DISTINCT series_name ) , count ( DISTINCT content ) FROM tv_channel ;
	Correct: incorrect

	Confidence: 0.695669958393968, Acc: 0.4451219512195122
	Input:  ,  | tvshow | tv_channel : id , series_name ( Sky Radio ) , country , language , content , pixel_aspect_ratio_par , hight_definition_tv , pay_per_view_ppv , package_option | tv_series : id , episode , air_date , rating , share , 18_49_rating_share , viewers_m , weekly_rank , channel | cartoon : id , title , directed_by , written_by , original_air_date , production_code , channel , What is the content of TV Channel with serial name "Sky Radio"?
	Pred Output: SELECT content FROM tv_channel WHERE series_name = "Sky Radio"
	Gold Output: SELECT content FROM tv_channel WHERE series_name = "Sky Radio" ;
	Correct: incorrect

	Confidence: 0.695669958393968, Acc: 0.4451219512195122
	Input:  ,  | student_transcripts_tracking | addresses : address_id , line_1 , line_2 , line_3 , city , zip_postcode , state_province_county , country , other_address_details | courses : course_id , course_name , course_description , other_details | departments : department_id , department_name , department_description , other_details | degree_programs : degree_program_id , department_id , degree_summary_name , degree_summary_description , other_details | sections : section_id , course_id , section_name , section_description , other_details | semesters : semester_id , semester_name , semester_description , other_details | students : student_id , current_address_id , permanent_address_id , first_name , middle_name , last_name , cell_mobile_number , email_address , ssn , date_first_registered , date_left , other_student_details | student_enrolment : student_enrolment_id , degree_program_id , semester_id , student_id , other_details | student_enrolment_courses : student_course_id , course_id , student_enrolment_id | transcripts : transcript_id , transcript_date , other_details | transcript_contents : student_course_id , transcript_id , Which student has enrolled for the most times in any program? List the id, first name, middle name, last name, the number of enrollments and student id.
	Pred Output: SELECT T1 . student_id , T2 . first_name , T2 . middle_name , T2 . last_name , count ( * ) FROM student_enrolment AS T1 JOIN students AS T2 ON T1 . student_id = T2 . student_id GROUP BY T1 . student_id ORDER BY count ( * ) DESC LIMIT 1
	Gold Output: SELECT T1 . student_id , T1 . first_name , T1 . middle_name , T1 . last_name , count ( * ) , T1 . student_id FROM students AS T1 JOIN student_enrolment AS T2 ON T1 . student_id = T2 . student_id GROUP BY T1 . student_id ORDER BY count ( * ) DESC LIMIT 1
	Correct: incorrect


## Initial observations
- at higher confidence (>0.5)
    - A common source of exact match error is a mismatch in quotation mark style (predicts ", reference has ')
    - sometimes also missing semi-colon causes error 
    - Another common source: model not making use of info in the input context, e.g. over-riding table names, etc., hallucinating values (especially problems with countries and places e.g. "Kanghanistan" instead of "Kabul", "Angolance" instead of "Angola")
    - background knowledge required (beyond what's in the prompt). For example, input "What are the names of conductors who have conducted at more than one orchestra?" has gold program that groups by conductor_id instead of conductor_name. That's probably a smarter thing to do, but conductor_name isn't necessarily wrong (unless multiple conductors have the same name). Without knowing more about the assumptions underlying the database, no way to say that this is definitively wrong. 
- at lower confidence (<0.5)
   - seems like more straight up mistakes, seems like lots with overly-simple programs
   - maybe more relative clauses/multi-hop queries in the input ("What are the names of high schoolers who have likes, and how many likes does each have?")
   - 


## Ambiguous examples:

 - Input:  ,  | tvshow | tv_channel : id , series_name , country , language , content , pixel_aspect_ratio_par , hight_definition_tv , pay_per_view_ppv , package_option | tv_series : id , episode , air_date , rating , share , 18_49_rating_share , viewers_m , weekly_rank , channel | cartoon : id , title , directed_by , written_by , original_air_date , production_code , channel , List the number of different series names and contents in the TV Channel table.
 - Pred Output: SELECT count ( DISTINCT series_name ) , content FROM tv_channel
 - Gold Output: SELECT count ( DISTINCT series_name ) , count ( DISTINCT content ) FROM tv_channel ;`

  - Input:  ,  | student_transcripts_tracking | addresses : address_id , line_1 , line_2 , line_3 , city , zip_postcode , state_province_county , country , other_address_details | courses : course_id , course_name , course_description , other_details | departments : department_id , department_name , department_description , other_details | degree_programs : degree_program_id , department_id , degree_summary_name , degree_summary_description , other_details | sections : section_id , course_id , section_name , section_description , other_details | semesters : semester_id , semester_name , semester_description , other_details | students : student_id , current_address_id , permanent_address_id , first_name , middle_name , last_name , cell_mobile_number , email_address , ssn , date_first_registered , date_left , other_student_details | student_enrolment : student_enrolment_id , degree_program_id , semester_id , student_id , other_details | student_enrolment_courses : student_course_id , course_id , student_enrolment_id | transcripts : transcript_id , transcript_date , other_details | transcript_contents : student_course_id , transcript_id , What are the names and id of courses having at most 2 sections?
  - Pred Output: SELECT T1 . course_name , T2 . course_id FROM courses AS T1 JOIN sections AS T2 ON T1 . course_id = T2 . course_id GROUP BY T2 . course_id HAVING count ( * ) <= 2
  - Gold Output: SELECT T1 . course_name , T1 . course_id FROM courses AS T1 JOIN sections AS T2 ON T1 . course_id = T2 . course_id GROUP BY T1 . course_id HAVING count ( * ) <= 2